
/*.form-group {
    padding: 10px;
}

body {*/
    /* background: url(../../Images/event.jpg);*/
    /*background: #004B61;*/
/*    background: url(../)*/
/*}

.form {*/
    /*align-items:flex-start;*/
    /*align-items: flex-end;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-style {
    width: 150px;
    height: 20px;
}

.save {
    width: 80px;
    height: 40px;
    font-size: 20px;*/
    /*margin-right:150px;*/
    /*        margin-top:50px;*/
/*}

.back {
    width: 80px;
    height: 40px;
    font-size: 20px;
    color:red;*/
    /*margin-left:200px;*/
    /* margin-top:-200px;*/
/*}

.error {
    font-family: Arial;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 400px;*/
  /*  margin-top: 200px;*/
    /*margin-bottom:190px;*/
    /*border-radius: 40px;
    height: 500px;
    width: 600px;
    background-color: cornsilk;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 20px;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: red;
}

.fields {
    align-content: center;
}*/
