
@{
    ViewBag.Title = "NavBar";
    @Styles.Render("~/CSS/NavBar.css")
}

    <nav class="nav-items">
        <a href="~/Home/Index" class="logo">Evento</a>
        <ul>
            <li> <a href="~/Home/Index">Home</a></li>
            <li> <a href="~/Event/GetEventList">Event</a></li>s
        </ul>
        
       
        
    </nav>
    <section></section>